*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    background:  url("viral.jpg");
    
    
/* background-size: cover; */
     
    
}
.calculater{
    padding: 20px;
    
    border: 2px solid #000;
    border-radius: 16px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.8);
    background: rgba(145, 140, 140, 0.5);
   
}

input{
    width: 320px;
    padding: 24px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.4);
    font-size: 65px;
    text-align: right;
    color: #fff;
    border: 2px solid rgba(0,0, 0, 0.3);
    border-radius: 16px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    
}
input::placeholder{
    color: #ffffff;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    cursor: pointer; 
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
     


}
.ac, .del{
    font-size: 20px;
}
button:hover{
    color: #fff;
    background: #f67c14;
}
.equalbtn{
    background: #f67c14;
}
/* .oprater{
    background: #f67c14;
} */