.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.bg-ping{
    background-color: pink;
}
.bg-violet{
    background-color: violet;
}
.bg-blue{
    background-color: blue;
}
.bg-green{
    background-color: green;
}
.font-large{
    font-size: large;
}