#maindiv{
    width: 700px;
    height: 1000px;
    border: 1px solid black;
    background-color: aqua;
    /* display: flex; */
    flex-direction: column;
    display:grid;
    grid-template-columns: 100px 150px 100px 250px;
    /* align-items: center; */
    justify-items: center;
    
    
}
.subdiv{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: white;
}