 body {
     
     background-color: #3b6efb;
     display: flex;

     align-items: center;
     height: 100vh;
 }

  
 .box1 {
     background: white;
     padding: 20px 40px;
     border-radius: 10px;
     width: 300px;
     height: 300px;
     margin: 150px auto;
     margin-left: 500px;
     margin-bottom: 10px;
     object-fit: cover;
     position:absolute;
     animation: movingbox1 10s infinite;
     
 }
 @keyframes movingbox1 {
     0%{
        top: 0px;
        left: 0px;
        /* transform: rotate(-1800deg);
        position: transform 2s; */
     }
     25%{
        top: 0px;
        left: 500px;
     }
     50%{
        top: 300px;
        left: 500px;
     }
     75%{
        top: 300px;
        left: 0px;
     }
     100%{
        top: 0px;
        left: 0px;
     }
 }

 .box1 h2 {
     font-size: 1.5rem;
     color: black;
     margin-bottom: 20px;
 }


.box1 u {
     color: #3b6efb;
 }

 .secondinput  {
      
     margin-bottom: 15px;
     display: flex;

 }

 .secondinput input {
     width: 100%;
     padding: 12px 15px;
     border: none;
     border-bottom: 1px solid black;
     font-size: 14px;
     
 
 
 }
  
 
 .eye {
     position: absolute;
     right: 10px;
     top: 12px;
     cursor: pointer;
     color: #777;
 }


 .thirdinput {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
     font-size: 14px;

 }

 .thirdinput a {
     text-decoration: none;
     color: #3b6efb;
 }

 .bt {
     width: 100%;
     background: #3b6efb;
     border: none;
     padding: 12px;
     color: white;
     font-size: 15px;
     border-radius: 6px;
     cursor: pointer;
     transition: 0.3s;

 }

 .bt:hover {
     background: green;
 }
 /* .bt:hover{ */
    /* margin-top: 5px; */
    
    /* margin-left: 5px;
    margin-right: 5px;
    transition: margin-left 0.1s ease-in-out margin-right 0.1s ease-in-out width 0.1s ; */
 /* } */
 /* .bt:active{ */
   /* padding-left: 100px; */
    /* transition: padding-left  0.1s ; */
  
     /* transform: rotate(-1800deg);
    transition: rotate initial;
 } */

 .link-text {
     text-align: center;
     margin-top: 15px;
     font-size: 14px;

 }
 .box1 h2 span{
     border-bottom: 1px solid blue;
     width: fit-content;
 }
 /* .box1:hover{
    /* margin-left: 150px; */
    /* margin-bottom: 500px; */
    /* margin-top: 800px; * */
    /* position:absolute; */
    /* transition:     margin-bottom 1s ease-in-out position 10s    ;
    transition: margin-top 1s ease-in-out position 10s; */
 /* } */