h1 {
    width: 200px;
    border: 1px solid black;
    /* margin-left: 10%; */
    margin-left: 0px;
    /* background-color: yellow; */
}

h1:hover {
    /* margin-left: 200px;
    transition: margin-left 5s; */
    width: 500px;
    transition: width 5s;

}

.ss {
    width: 500px;
    height: 100px;
    border: 1px solid black;
     /* color: blue; */

    .tt {
    width: 0%;
    height: 100px;
    
    background-color: red;
}
}

 

.ss:hover {
    .tt{
        width: 100px;
        /* height: 200px */
        /* transition: 1s ; */
        background-color: aqua;
        transition: width 5s ease-in-out, background-color 5s ease-in-out;
    }
}
.D1{
border: 1px solid #ff0000;
  width: fit-content;
  position: relative;
}

#d1 {
  background: white;
  position: absolute;
  overflow: hidden;
  top: -80px;
  left: 50px;
  height: 0px;
}

#D1:hover {
  #d1 {
    background: white;
    position: absolute;

    height: 77px;
    transition: height 0.3s;
  }
}



.outer1{
    width: 500px;
    height: 50px;
    border: 1px solid black;
    .inner1{
    /* width:500px; */
    height:50px;
    /* border: 1px solid black; */
    }
}
.outer1:hover{
    .inner1{
        animation: myAnimantion 5s linear;

    }
}
@keyframes myAnimantion {
    0%{
        width: 0%;
        background-color: red;
    }
    50%{
        width: 50%;
        background-color: yellow;
    }
    100%{
        width: 100%;
        background-color: green;
    }
}

#d2{
    width: 100px;
    height: 50px;
    font-size: xx-large;
    border: 1px solid black;
    /* background-color: blueviolet; */
/* font-size: xx-large;
transform: rotate(180deg); */

}
#d2:hover{
  transform: rotate(180deg);
  transition: transform 5s;
}