 body {
     background-color: blue;
     background-color: #3b6efb;
     display: flex;

     align-items: center;
     height: 100vh;
 }

 .one {

     display: flex;
     gap: 50px;

 }

 .box1 {
     background: #ffffff;
     padding: 20px 40px;
     border-radius: 10px;
     width: 300px;
     height: 300px;
     margin: 150px auto;
     margin-bottom: 10cqb;

 }

 .box1 h2 {
     font-size: 1.5rem;

     color: #333;
     margin-bottom: 20px;
 }

 .box1 u {
     color: #3b6efb;
 }

 .main {
     margin-left: 20px;


 }

 .login {
     font-size: 20px;
     color: black;
     margin-top: 30px;

 }

 .secondinput {
     position: relative;
     margin-bottom: 15px;

 }

 .secondinput input {
     width: 100%;
     padding: 12px 15px;
     border: none;
     border-bottom: 1px solid black;
     font-size: 14px;
     
 
 
 }
 
 .eye {
     position: absolute;
     right: 10px;
     top: 12px;
     cursor: pointer;
     color: #777;
 }


 .thirdinput {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
     font-size: 14px;

 }

 .thirdinput a {
     text-decoration: none;
     color: #3b6efb;
 }

 .bt {
     width: 100%;
     background: #3b6efb;
     border: none;
     padding: 12px;
     color: white;
     font-size: 15px;
     border-radius: 6px;
     cursor: pointer;
     transition: 0.3s;

 }

 .bt:hover {
     background: red;
 }

 .link-text {
     text-align: center;
     margin-top: 15px;
     font-size: 14px;

 }

 .link-text a {
     color: #3b6efb;
     text-decoration: none;

 }

 .link-text a:hover {
     text-decoration: underline;
 }

 .box2 {
     background: #ffffff;
     padding: 30px 40px;
     padding: 10px auto;
     border-radius: 10px;

     width: 320px;
     margin-bottom: 10cqb;
     box-sizing: border-box;
 }

 .box2 h2 {
     font-size: 1.5rem;
     color: #333;
     margin-bottom: 20px;
 }
