#main{
    width: 1000px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    
}
 .main2{
        width: 500px;
        height: 350px;
        border: 2px solid black;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .main3{
        
        margin-left: 100px;
        margin-top: 100px;
       
    }