#navbar {
    background-color: whitesmoke;
    justify-content: space-between;
    display: flex;
    align-items: center;

    width: 100%;
    position: fixed;
    top: 0%;
}

h2 {
    margin-left: 5%;
}


.button2 {
    /* margin-left: 20%; */
    margin-right: 80px;

    .singbutton {

        background-color: white;
        /* outline: white; */

        border-color: whitesmoke;

        padding: 10px;
        border-radius: 10px;



    }

    .blockbutton {
        padding: 10px;
        background-color: black;
        color: white;
        border-radius: 10px;


    }
}

.blockbutton:active {
    color: bisque;
}

.main {

    display: flex;
    align-items: center;
    margin-top: 15px;

}

.image {
    /* width: 0%; */


    img {
        width: 80%;
        margin-top: 10%;
        border-radius: 10px;
        margin-left: 10%;
    }
}

.heading {
    /* width: 10px; */
    margin-left: 5%;

    .one {

        font-size: 4cqmax;


    }

    p {

        color: rgb(134, 133, 133);
    }

    .email {
        width: 40%;
        padding: 10px;
    }

    .offer {
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 10px;


    }

    .offer:hover {
        color: rgb(14, 156, 54);
    }

}

.my {

    display: flex;
    margin-top: 13%;
    margin-left: 10%;

    img {
        width: 200px;
    }



}

.client {
    h3 {
        margin-left: 40%;
    }
}

.skill {
    margin-left: 30%;

    .one {
        font-size: 4cqmax;
        margin-left: 12%;

    }

    .item {
        font-size: large;
        margin-right: 10%;
    }

    h4 {
        margin-left: 18%;
    }



}

.item1 {
    margin-left: 10%;
    font-size: large;
    color: rgb(134, 133, 133);

    .item2 {
        margin-left: 30%;
    }
}

.mainskill {
    padding-top: 8%;
}

.headallicon {
    padding-top: 8%;
    /* display: flex; */
    display: grid;
    gap: 10%;
    margin-left: 10%;
    grid-template-columns: auto auto auto;
}

.allicons {

    /* border: 2px solid black; */
    width: 300px;
}

.icons {
    text-align: center;
    font-size: large;
    color: rgb(134, 133, 133);
}

.iconn {
    text-align: center;
    font-size: large;

}

.icon2 {
    text-align: center;
}

.project {
    padding-top: 8%;

}

.myp {
    margin-right: 30px;

    font-size: 3cqmax;
}

.photo {
    /* border: 1px solid black; */
    width: 90%;

    /* padding-top: 10%; */
    margin-top: 7%;

    img {
        border-image: 10%;
        width: 100%;


    }

}

.ic {
    /* text-align: center; */
    font-size: large;
    color: rgb(134, 133, 133);



}

.inn {
    font-size: larger;
}

.off {


    .see {
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 8px;
    }

}

.see:hover {
    color: rgb(14, 156, 54);
}

.allphoto {
    /* display: flex; */
    display: grid;
    gap: 0%;
    grid-template-columns: auto auto auto auto;

    margin-left: 10%;

}

.resume {
    margin-left: 10%;
    padding-top: 10%;

    .view {
        background-color: white;
        border: color(white);
        padding: 10px;
        border-radius: 5px;
        border: azure;
        /* border: none; */


    }

}

.view :active {
    color: rgb(150, 154, 157);

}

.view :hover {
    color: rgb(23, 104, 175);
}

.allresume {
    display: flex;
}

.btn3 {
    margin-left: 20%;
    width: 50%;
    /* border: 1px solid black; */
    padding-top: 10%;
    padding-left: 10%;
    display: flex;
    gap: 8%;
    font-size: larger;


}

.alp {
    color: rgb(150, 154, 157);

}
.head{
    margin-left: 15%;
    font-size: larger;
    .ic{

     
    img{
        width: 5%;
        margin-right: 50%;
    }
    }
    .on{
        font-size: xx-large;
    }
}
.main2{
    display:flex;
    padding: 10%;
  
    img{
        width: 20%;
        height: 10%;
        border-radius: 10%;
        margin-left: 15%;
    }
    
    
  }
  

 
