#mainDiv {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
   

    
}

.subdiv{
    border: 1px solid black;
    padding: 20px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    
}
@media screen and (max-width: 700px)
{
    #mainDiv{
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 600px)
{
    #mainDiv{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 350px)
{
    #mainDiv{
        grid-template-columns: auto auto ;
    }
}