* {
    margin: 0;
    padding: 0;
}

#Navbar {
    border: 1px solid black;
    background-color: blue;
    color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    align-items: center;

    div {
        display: flex;
        gap: 15px;

    }

    span:hover {
        color: rgb(255, 6, 6);

    }

    span:active {
        color: rgb(226, 234, 13);
    }
    position: sticky;
    top: 0%;
    z-index: 99;

}
h4{
    text-align: center;
}
h1:hover {
    color: rgb(230, 230, 22);
}

#helpbutton{
    width: 0%;
    height: 0%;
    font-size: xx-large;
    padding: 10px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
