#maindiv{
    width: 700px;
    height: 1000px;
    border: 1px solid black;
    background-color: aqua;
    display: flex;
    /* gap: 1px; */
    /* justify-content: baseline; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: end; */
     
    /* align-items: end; *//
    /* flex-direction: columns: ;; */
}
.subdiv{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: white;
}